.ui.breadcrumb
  %a{:href => websites_path}
    Websites
  %i.right.angle.icon.divider
  .active.section
    Edit website
.ui.divider
%h3.ui.top.attached.header
  Edit website
.ui.attached.segment
  = simple_form_for @website do |f|
    = f.input :title
    = f.input :url, label: 'URL'
    = f.button :submit
