%h2.header
  Websites
%a.ui.right.floated.small.primary.labeled.icon.button{:href => new_website_path}
  %i.sitemap.icon
  Add website
= render partial: 'shared/websites', locals: { websites: @websites }