.ui.segment
  .ui.form
    .inline.fields
      %label Social media types:
      .field
        .ui.checkbox
          %input.hidden{:name => "fruit", :tabindex => "0", :type => "checkbox", checked: "checked"}/
          %label Facebook
      .field
        .ui.checkbox
          %input.hidden{:name => "fruit", :tabindex => "0", :type => "checkbox"}/
          %label Instagram
      .field
        .ui.checkbox
          %input.hidden{:name => "fruit", :tabindex => "0", :type => "checkbox", checked: "checked"}/
          %label Twitter
    .inline.fields
      %label Paid/unpaid (organic):
      .field
        .ui.checkbox
          %input.hidden{:name => "fruit", :tabindex => "0", :type => "checkbox", checked: "checked"}/
          %label Paid
      .field
        .ui.checkbox
          %input.hidden{:name => "fruit", :tabindex => "0", :type => "checkbox"}/
          %label Unpaid (organic)
    .inline.fields
      %label Images:
      .field
        .ui.checkbox
          %input.hidden{:name => "fruit", :tabindex => "0", :type => "checkbox", checked: "checked"}/
          %label With
      .field
        .ui.checkbox
          %input.hidden{:name => "fruit", :tabindex => "0", :type => "checkbox"}/
          %label Without
    .inline.field
      %label
        Number of top messages to show:
      %input{:type => "text", :placeholder => "5"}
.ui.three.column.grid
  .column
    .ui.fluid.card
      .content
        .header
          %i.twitter.icon
          Engagements: 50
        .meta 2 days ago
        .description
          %p
            This is one of the messages sent via Twitter.
      .extra.content
        .ui.three.column.grid
          .column
            .mini.statistic
              .value
                25
              .label
                retweets
          .column
            .mini.statistic
              .value
                15
              .label
                mentions
          .column
            .mini.statistic
              .value
                10
              .label
                likes
  .column
    .ui.fluid.card
      .content
        .header
          %i.facebook.f.icon
          Here is an example of a much longer message sent via Facebook. This message is longer than 140 characters and is an example of what happens where a really long message is present.
        .meta 2 days ago
        .description
          %p Engagements: 50
      .extra.content
        %i.refresh.icon
        25 shares
        %i.comment.outline.icon
        15 comments
        %i.thumbs.outline.up.icon
        10 likes