.ui.breadcrumb
  %a{:href => root_path}
    Home
  %i.right.angle.icon.divider
  .section
    %a{:href => experiment_path(params[:experiment_id])}
      Experiment
  %i.right.angle.icon.divider
  .active.section
    Create new message generation parameter set
.ui.divider
%h3.ui.top.attached.header
  Create new message generation parameter set
.ui.attached.segment
  = simple_form_for @message_generation_parameter_set do |f|
  = f.button :submit
