.ui.action.input.save-id
  - if message.campaign_unmatchable
    .ui.input.error
      %input{:placeholder => "Add campaign id", :type => "text", remote: true }
      %button.ui.button.save-id{'data-message-id': message.id} save
  - else
    %input{:placeholder => "Add campaign id", :type => "text", remote: true }
    .ui.button.save-id{'data-message-id': message.id} save