%table.ui.very.basic.collapsed.table.message-generation-paramter-set
  %tbody
    %tr
      %td.collapsing Social media types
      %td= form.input :social_network_choices, as: :check_boxes, wrapper_class: 'inline fields', item_wrapper_class: 'ui field checkbox', collection: { 'Facebook' => 'facebook', 'Instagram' => 'instagram', 'Twitter' => 'twitter' }, label: false
    %tr
      %td.collapsing Social media distribution
      %td=form.input :social_network_cycle_type, as: :radio_buttons, wrapper_class: 'inline fields', item_wrapper_class: 'ui field radio checkbox', label: false
    %tr
      %td.collapsing Medium types
      %td=form.input :medium_choices, as: :check_boxes, wrapper_class: 'inline fields', item_wrapper_class: 'ui field checkbox', collection: { 'Ad' => 'ad', 'Organic/Unpaid' => 'organic' }, label: false
    %tr
      %td.collapsing Medium distribution
      %td=form.input :medium_cycle_type, as: :radio_buttons, wrapper_class: 'inline fields', item_wrapper_class: 'ui field radio checkbox', label: false
    %tr
      %td.collapsing Image types
      %td=form.input :image_choices, as: :check_boxes, wrapper_class: 'inline fields', item_wrapper_class: 'ui field checkbox', collection: { 'With' => 'with', 'Without' => 'without' }, label: false
    %tr
      %td.collapsing Image distribution
      %td=form.input :image_present_cycle_type, as: :radio_buttons, wrapper_class: 'inline fields', item_wrapper_class: 'ui field radio checkbox', label: false
=form.input :period_in_days
=form.input :number_of_messages_per_social_network
=form.button :submit
