=form.input :social_network_cycle_type, as: :radio_buttons, :class => 'field', :item_wrapper_class => 'ui radio checkbox', :label => 'Social media type distribution'
=form.input :medium_cycle_type, as: :radio_buttons, :class => 'field', :item_wrapper_class => 'ui radio checkbox', :label => 'Paid/unpaid (organic) message distribution'
=form.input :image_present_cycle_type, as: :radio_buttons, :class => 'field', :item_wrapper_class => 'ui radio checkbox', :label => 'Image/no image distribution'
=form.input :period_in_days
=form.input :number_of_messages_per_social_network
=form.button :submit