---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/expand?access_token=********&shortUrl=http://bit.ly/1zDgg9K
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: |
        { "status_code": 200, "status_txt": "OK", "data": { "expand": [ { "short_url": "http:\/\/bit.ly\/1zDgg9K", "long_url": "http:\/\/www.sc-ctsi.org\/", "user_hash": "1zDgg9K", "global_hash": "p4oKU1" } ] } }
  recorded_at: Tue, 21 Apr 2015 19:51:44 GMT
recorded_with: VCR 2.9.3
