---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/expand?access_token=21c4a40d1746ea7d0815aa33a9a3137c50c389e8&shortUrl=http://bit.ly/1zDgg9K
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{ "status_code": 200, "status_txt": "OK", "data": { "expand": [ { "short_url":
        "http:\/\/bit.ly\/1zDgg9K", "long_url": "http:\/\/www.sc-ctsi.org\/", "user_hash":
        "1zDgg9K", "global_hash": "p4oKU1" } ] } }

'
  recorded_at: Wed, 10 Feb 2016 22:04:47 GMT
recorded_with: VCR 3.0.1
