---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/shorten?access_token=********&longUrl=http://www.sc-ctsi.org/?utm_source=twitter%26utm_medium=feed%26utm_campaign=trial-promoter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: |
        { "status_code": 200, "status_txt": "OK", "data": { "long_url": "http:\/\/www.sc-ctsi.org\/?utm_source=twitter&utm_medium=feed&utm_campaign=trial-promoter", "url": "http:\/\/bit.ly\/1yPdUcY", "hash": "1yPdUcY", "global_hash": "p4oKU1", "new_hash": 1 } }
  recorded_at: Tue, 21 Apr 2015 20:13:32 GMT
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/expand?access_token=********&shortUrl=http://bit.ly/1yPdUcY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: |
        { "status_code": 200, "status_txt": "OK", "data": { "expand": [ { "short_url": "http:\/\/bit.ly\/1yPdUcY", "long_url": "http:\/\/www.sc-ctsi.org\/?utm_source=twitter&utm_medium=feed&utm_campaign=trial-promoter", "user_hash": "1yPdUcY", "global_hash": "p4oKU1" } ] } }
  recorded_at: Tue, 21 Apr 2015 20:13:32 GMT
recorded_with: VCR 2.9.3
