---
http_interactions:
- request:
    method: get
    uri: https://api-ssl.bitly.com/v3/shorten?access_token=21c4a40d1746ea7d0815aa33a9a3137c50c389e8&longUrl=http://www.url.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mime-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{ "status_code": 200, "status_txt": "OK", "data": { "long_url": "http:\/\/www.url.com\/",
        "url": "http:\/\/bit.ly\/1PmhFLw", "hash": "1PmhFLw", "global_hash": "KTp9G",
        "new_hash": 0 } }

'
  recorded_at: Wed, 23 Mar 2016 23:02:33 GMT
recorded_with: VCR 3.0.1
