-if !@experiment.analytics_file_todos_created
  .button
    %a.ui.labeled.icon.button{:href  => create_analytics_file_todos_experiment_path(@experiment)}
      %i.checkmark.box.icon
      Generate todo list
