%a.ui.labeled.primary.icon.button{:href => process_all_files_analytics_files_path }
  %i.server.icon
  Upload file
= render partial: 'shared/analytics_files', locals: { analytics_files: @experiment.analytics_files }
