#dashboard
  .ui.top.attached.tabular.menu
    %a{ class: 'item', 'data-tab': 'dashboard/top-posts' }
      Top posts
    // %a{ class: 'item', 'data-tab': 'dashboard/posts-by-platform' }
    //   By social media engagement
  .ui.bottom.attached.tab.segment{ 'data-tab': 'dashboard/top-posts' }
    = render partial: 'experiments/tabs/dashboard/top_posts'
  // .ui.bottom.attached.tab.segment{ 'data-tab': 'dashboard/messages-by-platform' }
  //   = render partial: 'experiments/tabs/dashboard/messages_by_platform'
