%table.ui.sortable.celled.table
  %thead
    %th Message
    %th Ad/Organic
    %th Likes (Favorites)
    %th Retweets
    %th Comments
    %th Clicks
    %th Impressions
    %th Click rate
  %tbody
    %td Never underestimate the power of people. We're looking for participants @KeckMedUSC #LiverDisease #ClinicalTrial http://bit.ly/1KvZHqF
    %td Organic
    %td 1
    %td 2
    %td 3
    %td 4
    %td 67
    %td 5.97%
    
    
