%table.ui.sorted.celled.table
  %thead
    %th Tags
    %th Message
    %th Social media type
    %th Medium
    %th Likes (Favorites)
    %th Retweets
    %th Comments
    %th Clicks
    %th Impressions
    %th Click rate
  %tbody
    %td
      %ul
        %li theme-1
        %li method-1
        %li stem-2
    %td Never underestimate the power of people. We're looking for participants @KeckMedUSC #LiverDisease #ClinicalTrial http://bit.ly/1KvZHqF
    %td
      %i.twitter.icon
      Twitter
    %td Organic
    %td 1
    %td 2
    %td 3
    %td 4
    %td 67
    %td 5.97%


