.ui.link.cards
  .card
    .content
      .header
        .right.floated.meta 23 Sep, 2017 10:15 PM
        %i.facebook.icon
    .content
      Never underestimate the power of people. We're looking for participants @KeckMedUSC #LiverDisease #ClinicalTrial http://bit.ly/1KvZHqF
    .image
      = image_tag("no-image.png", alt: "No image")
    .content
      %i.heart.icon
      1 like(s)
      %i.refresh.icon
      3 retweets
      %i.comment.icon
      4 comments
    .extra.content
      10% Engagement rate
      10% Click rate
  .card
    .content
      .header
        .right.floated.meta 27 Sep, 2017 10:15 PM
        %i.twitter.icon
    .content
      We're looking for volunteers. We're looking for participants @KeckMedUSC #LiverDisease #ClinicalTrial http://bit.ly/1KvZHqF
    .image
      = image_tag("image.png", alt: "Image")
    .content
      %i.heart.icon
      1 like(s)
      %i.refresh.icon
      2 retweets
      %i.comment.icon
      2 comments
    .extra.content
      10% Engagement rate
      10% Click rate
  
