#dashboard
  .ui.top.attached.tabular.menu
    %a{ class: 'item', 'data-tab': 'dashboard/top-messages' }
      Top messages
    %a{ class: 'item', 'data-tab': 'dashboard/messages-by-platform' }
      By social media engagement
    // %a{ class: 'item', 'data-tab': 'dashboard/messages-by-experiment-variables' }
    //   By experiment variables
  .ui.bottom.attached.tab.segment{ 'data-tab': 'dashboard/top-messages' }
    = render partial: 'experiments/tabs/dashboard/top_messages'
  .ui.bottom.attached.tab.segment{ 'data-tab': 'dashboard/messages-by-platform' }
    = render partial: 'experiments/tabs/dashboard/messages_by_platform'
  .ui.bottom.attached.tab.segment{ 'data-tab': 'dashboard/messages-by-experiment-variables' }
    = render partial: 'experiments/tabs/dashboard/messages_by_experiment_variables' 