%table.ui.sorted.celled.table
  %thead
    %th Message
    %th Ad/Organic
    %th Audit trail
    %th Likes (Favorites)
    %th Retweets
    %th Comments
    %th Clicks
    %th Impressions
    %th Engagment rate
    %th Click rate
  %tbody
    %td Never underestimate the power of people. We're looking for participants @KeckMedUSC #LiverDisease #ClinicalTrial http://bit.ly/1KvZHqF
    %td Organic
    %td 
      %ul
        %li Created: Sep 17
        %li To Buffer: Sep 18
        %li From Buffer: Sep 19
    %td 1
    %td 2
    %td 3
    %td 4
    %td 67
    %td 14.93%
    %td 5.97%
    
    
