#experiment_variables
  .ui.top.attached.tabular.menu
    %a{ class: 'item', 'data-tab': 'dashboard/messages-by-experiment-variables/theme' }
      %i.tags.icon
      Theme
    %a{ class: 'item', 'data-tab': 'dashboard/messages-by-experiment-variables/fda-campaign' }
      %i.tasks.icon
      FDA campaign
  .ui.bottom.attached.tab.segment{ 'data-tab': 'dashboard/messages-by-experiment-variables/theme' }
    = render partial: 'experiments/tabs/dashboard_messages_by_experiment_variables_theme'
  .ui.bottom.attached.tab.segment{ 'data-tab': 'dashboard/messages-by-experiment-variables/fda-campaign' }
    = render partial: 'experiments/tabs/dashboard_messages_by_experiment_variables_fda_campaign'



