-if @experiment.disable_message_generation?
  .disabled.button
    %a.ui.labeled.icon.button.disable-message-generation-button
      %i.send.icon
      Generate messages
-else
  %a.ui.primary.labeled.icon.button{:href => create_messages_experiment_path(@experiment)}
    %i.send.icon
    Generate messages
-if @experiment.message_distribution_start_date.nil?
  .ui.negative.message
    .header
      Please enter the message generation start date
- if @messages.count == 0
  .ui.message
    .header
      Generate messages when you are ready.
    %p When you have set up the message generation parameters and imported all your message templates and images, you are ready to generate the messages for this experiment. Please click on "Generate images" to generate all the messages for this experiment.
- else
  .ui.negative.message
    .header
      Regarding message generation
    %ul.list
      %li All messages for a experiment are deleted each time messages are generated.
      %li A day before the experiment is scheduled to start message distribution, message generation will be locked.
  = render partial: 'shared/messages', locals: { messages: @messages }