- if @experiment.disable_import?
  .tooltip{ "data-tooltip" => "Images cannot be imported once messages have been generated.", "data-position" => "right center" }
    %a.ui.labeled.icon.disabled.button
      %i.upload.icon
      Import images
- else
  %a#images-upload-button.ui.primary.labeled.icon.button{ 'data-experiment-id': @experiment.id, 'data-experiment-param': @experiment.to_param }
    %i.upload.icon
    Import images
%a.ui.labeled.basic.labeled.icon.button{ href: "/images/check_validity_for_instagram_ads" }
  %i.image.icon
  Check image sizes (for instagram ads)
- if current_user.role == 'administrator'
  %a#images-add-button.ui.basic.labeled.icon.button{ 'data-experiment-id': @experiment.id, 'data-experiment-param': @experiment.to_param }
    %i.image.icon
    Add images
.ui.success.message.hidden.ask-refresh-page
  .header
    %p Your upload was successful. Please refresh the page to see the image(s).
- if @images.count == 0
  .ui.message
    %p Trial Promoter can add an image to any message. You can upload images from Dropbox, Google Drive or from your computer. Consider using free image databases such as pixabay.com. Limitations: If you have images that are suitable for only certain message templates, this tool will require manual editing of the tags associated with each image once the images are uploaded.
- else
  = render partial: 'shared/object_count', locals: { count: @images.count, object_name: 'images' }
  = render partial: 'shared/images', locals: { images: @images, experiment: @experiment, allowed_tags: @distinct_tag_list }