.ui.buttons
  %a#message-templates-file-upload-button.ui.primary.labeled.icon.button{ 'data-experiment-id': @experiment.id }
    %i.upload.icon
    Import message templates
  .or
  %a#example-button.ui.labeled.icon.button{ href: asset_path('example.csv') }
    %i.download.icon
    Download sample CSV file
- if @message_templates.count == 0
  .ui.message
    .header
      Import message templates.
    %p Trial Promoter uses parameterized message templates in order the generate the final messages for the experiment. The sample CSV file includes the data elements you will need and example message templates for Twitter, Facebook, and Instagram.
    %ul
      %li Content
      %li Platform (Twitter, Facebook or Instagram)
      %li Hashtags
      %li Tags
- else
  = render partial: 'shared/message_templates', locals: { message_templates: @message_templates }