.ui.buttons
  - if @experiment.disable_import?
    .tooltip{ "data-tooltip" => "Message templates cannot be imported once messages have been generated.", "data-position" => "right center" }
      %a.ui.labeled.icon.disabled.button
        %i.upload.icon
        Import message templates
    .or
    %a#example-button.ui.labeled.icon.button{ href: asset_path('example.xlsx') }
      %i.download.icon
      Download sample Excel file
  - else
    %a#message-templates-file-upload-button.ui.primary.labeled.icon.button{ 'data-experiment-id': @experiment.id }
      %i.upload.icon
      Import message templates
    .or
    %a#example-button.ui.labeled.icon.button{ href: asset_path('example.xlsx') }
      %i.download.icon
      Download sample Excel file
.ui.success.message.hidden.ask-refresh-page
  .header
    %p Your upload was successful. Please refresh the page to see the messages.
- if @message_templates.count == 0
  .ui.message
    .header
    %p Trial Promoter uses parameterized message templates in order to generate the final messages for the experiment. The sample CSV file includes the data elements you will need and example message templates for Twitter, Facebook, and Instagram.
- else
= render partial: 'shared/object_count', locals: { count: @message_templates.count, object_name: 'message templates' }
= render partial: 'shared/message_templates', locals: { experiment: @experiment, message_templates: @message_templates }
