- if @experiment.disable_import?
  .tooltip{ "data-tooltip" => "Post templates cannot be imported once messages have been generated.", "data-position" => "right center" }
    %a.ui.labeled.basic.icon.disabled.button
      %i.upload.icon
      Import post templates
  %a#example-button.ui.labeled.basic.icon.button{ href: asset_path('example.xlsx') }
    %i.download.icon
    Download sample Excel file
- else
  %a#message-templates-file-upload-button.ui.primary.labeled.icon.button{ 'data-experiment-id': @experiment.id }
    %i.upload.icon
    Import post templates
%a#example-button.ui.labeled.basic.icon.button{ href: asset_path('example.xlsx') }
  %i.download.icon
  Download sample Excel file
.ui.success.message.hidden.ask-refresh-page
  .header
    %p Your upload was successful. Please refresh the page to see the post templates.
- if @experiment.post_templates.count == 0
  .ui.message
    .header
    %p Trial Promoter uses parameterized post templates in order to generate the final posts for the experiment. The sample Excel file includes the data elements you will need and example post templates for Facebook.
- else
  = render partial: 'shared/object_count', locals: { count: @experiment.post_templates.count, object_name: 'post templates' }
  = render partial: 'shared/post_templates', locals: { experiment: @experiment }
