%table.ui.celled.striped.table
  %thead 
    %tr
      %th Generated time
      %th Type
      %th
  %tbody
    %tr
      %td= 'Jan 10, 2017 04:38 PM'
      %td= 'Complete / Comprehensive'
      %td
        %a{ :href => '#' }
          Download
