.ui.buttons
  %a.ui.primary.icon.labeled.button{ :href => data_dictionary_path(experiment.data_dictionary) }
    %i.search.icon
    View data dictionary
  .or
  %a.ui.labeled.icon.button{ :href => "#" }
    %i.pencil.icon
    Edit data dictionary
%table.ui.celled.striped.table
  %thead 
    %tr
      %th Generated time
      %th Type
      %th
  %tbody
    %tr
      %td= 'Jan 10, 2017 04:38 PM'
      %td= 'Complete / Comprehensive'
      %td
        %a{ :href => '#' }
          Download
