%a.ui.primary.labeled.icon.button{ :href => edit_experiment_path(@experiment) }
  %i.industry.icon
  Change experiment setup
= render partial: 'shared/message_generation_parameter_set', locals: { message_generation_parameter_set: @experiment.message_generation_parameter_set }
%h3.ui.header
  Timeline
= render partial: 'shared/timeline', locals: { timeline: @experiment.timeline }