%table.ui.celled.table
  %thead
    %tr
      %th
      %th Required upload date
      %th Social media type and username
      %th
  %tbody
    - analytics_files.to_a.sort!{ |x, y| x.required_upload_date <=> y.required_upload_date }.each do |analytics_file|
      %tr{ class: [('positive' if !analytics_file.url.nil?)] }
        - if analytics_file.url.nil?
          %td
            %i.square.outline.icon
        - else
          %td
            %i.checkmark.box.icon
        %td= analytics_file.required_upload_date.strftime('%B %d, %Y')
        %td
          = analytics_file.social_media_profile.platform_icon_and_name 
          (#{analytics_file.social_media_profile.service_username})
        - if analytics_file.url.nil?
          %td.collapsing
            %a.analytics-file-upload-button.ui.primary.labeled.icon.button{'data-analytics-file-id': analytics_file.id, 'data-experiment-id': @experiment.id, 'data-experiment-param': @experiment.to_param}
              %i.upload.icon
              Upload analytics file
        - else
          %td
            Download