%table.ui.celled.striped.table
  %thead
    %tr
      %th Name
      %th Access
      %th Connect
  %tbody
    - experiments.includes(:message_generation_parameter_set).each do |experiment|
      %tr
        %td= experiment.name
        %td
          .ui.buttons
            %a.ui.button.workspace-button{ href: "#{experiment_path(experiment)}#/setup" }
              Workspace
            .or
            %a.ui.button.dashboard-button{ href: "#{experiment_path(experiment)}#/dashboard" }
              Dashboard
        %td
          .ui.buttons
            %a.ui.facebook.button{ href: "/auth/facebook" }
              %i.facebook.icon
              Facebook
            %a.ui.twitter.button{ href: "/auth/twitter?experiment_id=#{experiment.id}" }
              %i.twitter.icon
              Twitter