%table.ui.celled.striped.table
  %thead
    %tr
      %th Name
      %th Access
  %tbody
    - experiments.includes(:message_generation_parameter_set).each do |experiment|
      %tr
        %td= experiment.name
        %td
          %a.ui.basic.button{ href: "#{experiment_path(experiment)}#/setup" }
            Workspace
          %a.ui.basic.button{ href: "#{experiment_path(experiment)}#/dashboard" }
            Dashboard