%h3.ui.header
  Timeline
.ui.feed
  .event
    .label
      %i.red.circular.calendar.outline.icon
    .content
      .date
        Jan 21, 2017
      .summary
        Setup must be complete.
      .extra.text
        All experiment setup must be completed. 
  .event
    .label
      %i.circular.calendar.outline.icon
    .content
      .date
        Jan 23, 2017
      .summary
        Message generation is locked; Messages pushed up to Buffer (upto a week in advance).
      .extra.text
        Messages can no longer be regenerated. The set of messages for the experiment is now locked.
  .event
    .label
      %i.circular.calendar.outline.icon
    .content
      .date
        Jan 25, 2017
      .summary
        Buffer starts posting messages on social media.
  .event
    .label
      %i.circular.calendar.outline.icon
    .content
      .date
        Jul 24, 2017
      .summary
        Message distrubution completed
  .event
    .label
      %i.circular.calendar.outline.icon
    .content
      .date
        Jul 27, 2017
      .summary
        Data collection stops
