%table.ui.celled.striped.table
  %form#image-tagging-form
    %thead
      %tr
        %th.center.aligned Image
        %th.center.aligned Filename
    %tbody
      - images.each do |image|
        %tr.center.aligned
          %td
            = image_tag "#{image.url}", width: '150', height: '150', lazy: true
          %td= image.original_filename
