.ui.feed
  - timeline.events.each do |event|
    .event
      .label
        %i.circular.calendar.outline.icon
      .content
        .date
          = event.date.strftime('%b %d, %Y')
        .summary
          = event.summary
        - if !event.description.empty?
          .extra.text
            = event.description