%table.ui.celled.striped.table
  %thead 
    %tr
      %th Title
      %th URL
      %th Tags
  %tbody
    - websites.each do |website|
      %tr
        %td= website.title
        %td= website.url
        %td= website.tag_list
