%h2.header
  Home
%h3.ui.header
- if Setting[:buffer_access_token].blank?
  Before you begin using Trial Promoter
  .ui.negative.message
    .header
      It looks like you have not yet entered your Buffer access token. To fix this:
    %ul.list
      %li Setup a <a href='www.buffer.com' target='_blank'>Buffer</a> account.
      %li Enter your buffer access token in <a href="#{admin_settings_path}">settings</a>.
.ui.container
  .ui.two.column.middle.aligned.grid
    .column
      %a.ui.fluid.huge.teal.labeled.icon.button.start-experiment-button{:href => new_experiment_path}
        %i.line.chart.icon
        Start an experiment
    .column
      %a.ui.fluid.huge.teal.labeled.icon.button.start-campaign-button{:href => new_campaign_path}
        %i.announcement.outline.icon
        Start a campaign

- if @campaigns.count > 0
  %h3.ui.header
    %i.announcement.outline.icon
    Ongoing campaigns
  = render partial: 'shared/campaigns', locals: {campaigns: @campaigns}
- if @experiments.count > 0
  %h3.ui.header
    %i.line.chart.icon
    Ongoing experiments
  = render partial: 'shared/experiments', locals: {experiments: @experiments}