%h2.header
  Home
- if current_user.role.administrator?    
  .ui.container
    .ui.two.column.middle.aligned.grid
      .column
        %a.ui.fluid.huge.teal.labeled.icon.button.start-experiment-button{:href => new_experiment_path}
          %i.line.chart.icon
          Start a new experiment
- if @experiments.count > 0
  %h3.ui.header
    Ongoing experiments
  = render partial: 'shared/experiments', locals: {experiments: @experiments }

