#message-generation-progress.ui.modal
  %i.close.icon
  .header
    Generating messages
  .content
    .ui.indicating.progress{ 'data-value' => '1', 'data-total' => "#{total}" }
      .bar
      .label 
        Click 'Generate messages' to (re)create messages.
  .actions
    .ui.button
      Close
