.ui.breadcrumb
  %a{:href => root_path}
    Home
  %i.right.angle.icon.divider
  .section
    %a{:href => experiments_path}
      Experiments
  %i.right.angle.icon.divider
  .active.section
    Edit experiment: #{@experiment.name}
.ui.divider
%h3.ui.top.attached.header
  Edit experiment: #{@experiment.name}
.ui.attached.segment
  = render partial: 'shared/forms/experiment'