%h2.header
  %i.line.chart.icon
  Ongoing experiments
%a.ui.teal.labeled.icon.button{:href => new_experiment_path}
  %i.line.chart.icon
  Add experiment
= render partial: 'shared/experiments', locals: {experiments: @experiments}