.ui.breadcrumb
  %a{:href => root_path}
    Home
  %i.right.angle.icon.divider
  .active.section
    Create new experiment
.ui.divider
%h3.ui.top.attached.header
  Create new experiment
.ui.attached.segment
  = render partial: 'shared/forms/experiment', locals: { allowed_times: Experiment.allowed_times }