.ui.breadcrumb
  %a{:href => root_path}
    Home
  %i.right.angle.icon.divider
  .active.section
    #{@experiment.name} workspace
.ui.divider
%h2.ui.center.aligned.icon.header
  %i.circular.desktop.icon
  #{@experiment.name} workspace
