.ui.breadcrumb
  %a{:href => root_path}
    Home
  %i.right.angle.icon.divider
  .active.section
    #{@experiment.name} workspace
.ui.divider
%h2.ui.center.aligned.icon.header
  %i.circular.desktop.icon
  #{@experiment.name} workspace
%h3
  Message generation parameter sets
%table.ui.celled.striped.table
  %thead 
    %tr
      %th Promoted properties tag
      %th Promoted properties cycle type
      %th Selected message templates tag
      %th Selected message templates cycle type
      %th Social network cycle type
      %th Medium cycle type
      %th Image present cycle type
      %th Period (in days)
      %th Number of messages per social network
  %tbody
    %tr
      %td
        // %a{:href => edit_experiment_message_set_generation_parameter_set(@experiment.message_set_generation_parameter_set)}
        //   Edit
  - if @experiment.message_generation_parameter_set == nil
    %tfoot.full-width
      %tr
        %th{:colspan => "9"}
          %a.ui.right.floated.small.primary.labeled.icon.button{:href => new_experiment_message_generation_parameter_set_path(@experiment)}
            %i.lab.icon
            Add message generation parameter set
