%h2.header
  Home
%h3.ui.header 
  Before you begin using Trial Promoter
- if Setting[:buffer_access_token].blank?
  .ui.negative.message
    .header
      It looks like you have not yet entered your Buffer access token. To fix this:
    %ul.list
      %li Setup a <a href='www.buffer.com' target='_blank'>Buffer</a> account. 
      %li Enter your buffer access token in <a href="#{admin_settings_path}">settings</a>.
.ui.segment
  .ui.two.column.middle.aligned.grid
    .column
      %a.ui.fluid.big.olive.labeled.icon.button{:href => ''}
        %i.lab.icon
        Start an experiment
    .ui.vertical.divider
      Or
    .center.aligned.column
      %a.ui.fluid.big.teal.labeled.icon.button{:href => new_campaign_path}
        %i.calendar.outline.icon
        Start a campaign
- if @campaigns.count > 0
  %h3.ui.header
    Ongoing campaigns
