body {
  background: #eff3f8;
}

header {
  padding: 1.5rem 0rem;
  
  h2 {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 300;
  }
}

.menu {
  background: #ffcc00;
  margin: 0;
  padding: 0;
}

// Semantic UI form styling
form {
  abbr {
    display: none;
  }
}