body {
  background: #eff3f8;
}

header {
  padding: 1.5rem 0rem;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 300;
  }
}

.menu {
  background: #ffcc00;
  margin: 0;
  padding: 0;
}

// Semantic UI form styling
// Hide * displayed before required fields
form {
  abbr {
    display: none;
  }
}

// Unbold choices for inline checkboxes and radiobuttons
.ui.form .inline.fields .field > label {
  font-weight: normal;
}

// Unbold choices for list of checkboxes for social media profiles
.ui.form .grouped.fields .field > label {
  font-weight: normal;
}

// Bold labels for message generation parameter set
table.message-generation-parameter-set td.collapsing {
  font-weight: bold;
}

// Devise styling
// Create space for sign in button
.ui.fluid.large.teal.initial-signin-button {
  margin-top: 1rem;
}

// Move welcome message and logout link to the right side of header
.login-header {
  float: right;
}

// Fix image tag dropdown
.selectize-dropdown.multi.ui.input {
   position: absolute;
}

// Bolden captions on dashboard, social media engagement tab
caption {
  font-size: 1.2em;
  padding-bottom: 10px;
}

// -----------------------------
// Start theme changes for TCORS
// -----------------------------

body {
  background: #FAF9F7;
}

// Change color of primary buttons to shade of cyan
.ui.teal.button, .ui.primary.button, .ui.submit.button {
  background-color: #2CB1BC;
  color: #FFFFFF;
}

// Change color of primary buttons to shade of cyan
.ui.teal.button:hover, .ui.primary.button:hover, .ui.submit.button:hover {
  background-color: #14919B;
  color: #FFFFFF;
}

// Left hand navigation menu
.ui.vertical.labeled.icon.menu a {
  background: #FADB5F;
  color: #000000;
}

.ui.vertical.labeled.icon.menu a.active {
  background: #FCE588;
  color: #000000;
}

// Turquoise hyperlinks
.ui.breadcrumb a, a {
  color: #4b8182;
}

.ui.breadcrumb a:hover, a:hover {
  color: #88C5C9;
}

// Fix right margin on counts
.ui.right.floated.segment.object-count {
  margin-right: 0;
  margin-top: 0px;
}

// Unbold PI name on workspace
.ui.center.aligned.header.pi-name {
  font-weight: normal !important;
}
// ---------------------------
// End theme changes for TCORS
// ---------------------------

// -----------------------------
// Start platform ad preview CSS
// -----------------------------
// Google
.google-ad {
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  line-height: 18px;
}

.google-ad h3 {
  margin: 0;
  padding: 0;
}

.google-ad h3 a {
  font-family: arial, sans-serif;
  font-size: 18px; 
  font-weight: normal;
  color: #1a0dab;
}

.google-ad h3 a:hover {
  color: #1a0dab;
  text-decoration: underline;
}

.google-ad span.ad-tag {
  background-color: #fff;
  border-radius: 2px;
  color: #006621;
  display: inline-block;
  font-size: 12px;
  border: 1px solid #006621;
  padding: 0 2px 0 2px;
  line-height: 14px;
  vertical-align: baseline;
  margin-left: 0;
  margin-right: 5px;
}

.google-ad span.display-url {
  color: #006621;
  white-space: nowrap;
}

.google-ad span.description {
  color: #545454;
  font-size: small;
}

// Facebook
.facebook-ad {
  background-color: #fff;
  border: 1px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  position: relative;
  word-wrap: break-word;
}

.facebook-ad article {
  padding: 12px 12px 0;
  display: block;
}

.facebook-ad article header {
  padding: 15px 15px 0px;
}

.facebook-ad .controls {
  float: right;
}

.facebook-ad .facebook-button {
  background-color: #f6f7f8;
  cursor: pointer;
  font-size: 12px;
  line-height: 22px;
  border: 1px solid;
  border-color: #ccc #c5c6c8 #b6b7b9;
  border-radius: 2px;
  font-family: helvetica,arial,sans-serif;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  padding: 2px 8px 0;
  color: #4e5665;  
}

.facebook-ad article header .controls .facebook-button {
  background-color: #f6f7f8;
  cursor: pointer;
  font-size: 12px;
  line-height: 22px;
  border: 1px solid;
  border-color: #ccc #c5c6c8 #b6b7b9;
  border-radius: 2px;
  font-family: helvetica,arial,sans-serif;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  padding: 2px 8px 0;
  color: #4e5665;  
}

.facebook-ad article header .profile img {
  height: 40px;
  width: 40px;
  margin-right: 8px;
  vertical-align: middle;
  border: 0;
}

.facebook-ad article header .profile .profile-title {
  display: inline-block;
  margin-top: 3px;
  vertical-align: top;
  border: none;
}

.facebook-ad article header .profile .profile-title a {
  display: block;
  text-decoration: none;
}

.facebook-ad article header .profile .profile-title a:hover {
  text-decoration: none;
}

.facebook-ad article header .profile .profile-title a.name {
  color: #3b5998;
  font-family: lucida grande,tahoma,verdana,arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 3px;
}

.facebook-ad article header .profile .profile-title a.sponsored {
  color: #9197a3;
  font-family: lucida grande,tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  font-weight: normal;
}

.facebook-ad article .message {
  font-family: lucida grande,tahoma,verdana,arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 10px 0;
  padding: 0;
}

.facebook-ad article main {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15),0 1px 4px rgba(0,0,0,.1);
  cursor: pointer;
}

.facebook-ad article main .image {
  position: relative;
}

.facebook-ad article main .image img {
  display: block;
  width: 100%;
}

.facebook-ad article main .details {
  border-top: 1px solid #e5e6e9;
  padding: 10px 12px 15px;
}

.facebook-ad article main .details .headline {
  font-family: Georgia,lucida grande,tahoma,verdana,arial,sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin: 0 0 5px;
  max-height: 110px;
  overflow: hidden;
  word-wrap: break-word;
}

.facebook-ad article main .details .description {
  font-family: helvetica,arial,sans-serif;
  font-size: 12px;
  line-height: 16px;
  max-height: 80px;
  overflow: hidden;
  margin: 0;
}

.facebook-ad article main .details footer {
  padding-top: 8px;
}

.facebook-ad article main .details footer .controls {
  float: right;
}

.facebook-ad article main .details footer .caption {
  margin: 0;
  text-transform: uppercase;
  color: #9197a3;
  font-family: lucida grande,tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  line-height: 11px;
  padding-top: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}

.facebook-ad > footer {
  padding: 0 12px 4px;
}

.facebook-ad > footer .stats {
  margin-top: 10px;
}

.facebook-ad > footer .stats .reactions {
  float: left;
  margin-right: 2px;
}

.facebook-ad > footer .stats .reactions i {
  background: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
  margin-top: 2px;
  display: inline-block;
  height: 17px;
  width: 17px;
  background-image: url(/assets/reactions.png?0aaa36);
  background-repeat: no-repeat;
}

.facebook-ad > footer .stats .count {
  color: #9197a3;
  font-family: lucida grande,tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  line-height: 20px;
}

.facebook-ad > footer .stats .social {
  float: right;
}

.facebook-ad > footer .stats .social .shares {
  margin-left: 5px;
}

.facebook-ad > footer .stats .social .comments {
  margin: 0 5px;
  color: #9197a3;
  font-family: lucida grande,tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  line-height: 20px;
}

.facebook-ad > footer .stats .social .shares {
  color: #9197a3;
  font-family: lucida grande,tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  line-height: 20px;
}

.facebook-ad > footer hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: content-box;
  height: 0;
}

.facebook-ad > footer .actions {
  padding-bottom: 4px;
}

.facebook-ad > footer .actions span {
  color: #7f7f7f;
  font-family: lucida grande,tahoma,verdana,arial,sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  margin-right: 20px;
  padding: 4px 4px 4px 0;
}
// -----------------------------
// End platform ad preview CSS
// -----------------------------
