.ui.fluid.vertical.labeled.icon.pointing.menu
  %a.item{:href => root_path, :class => current_page?(root_path) ? "active" : ""}
    %i.home.icon
    Home
  %a.item{:href => campaigns_path, :class => current_page?(campaigns_path) ? "active" : ""}
    %i.calendar.outline.icon
    Campaigns
  %a.item{:href => experiments_path, :class => current_page?(experiments_path) ? "active" : ""}
    %i.lab.outline.icon
    Experiments
  %a.item{:href => clinical_trials_path, :class => current_page?(clinical_trials_path) ? "active" : ""}
    %i.doctor.icon
    Clinical trials
  %a.item{:href => websites_path, :class => current_page?(websites_path) ? "active" : ""}
    %i.sitemap.icon
    Websites
  %a.item{:href => message_templates_path, :class => current_page?(message_templates_path) ? "active" : ""}
    %i.browser.icon
    Message templates
  %a.item
    %i.send.outline.icon
    Messages
  %a.item
    %i.dashboard.icon
    Dashboard
  %a.item{ :href => admin_settings_path, :class => current_page?(admin_settings_path) ? "active" : ""}
    %i.settings.icon
    Settings
    
    
