.ui.fluid.vertical.labeled.icon.pointing.menu
  %a.item{:href => root_path}
    %i.home.icon
    Home
  %a.item
    %i.calendar.outline.icon
    Campaigns
  %a.item
    %i.doctor.icon
    Clinical trials
  %a.item
    %i.browser.icon
    Message templates
  %a.item
    %i.send.outline.icon
    Messages
  %a.item
    %i.dashboard.icon
    Dashboard
  %a.item{ :href => admin_settings_path }
    %i.settings.icon
    Settings
    
    
